body{
    padding-top: 20px;
    background-color: #cfe9ff;
    font-size: 20px;
}
.pcr-button{
    margin-left: 7px;
}
.wrapper-color{
    display: flex;
}
.wrapper-form{
    margin: auto auto auto 20%;
}

img {
    display: block;
    margin: auto;
}
.container{
    display: flex;
    margin: 0 auto;
    justify-content: center;
        background-color: #fff;
    box-shadow: 0px 3px 10px rgba(0,0,0,.8);
    border-radius: 10px;
    padding: 30px 0;
}

@media screen and (max-width: 960px) {
    .container{
        display: block;
    }
}
.form{
    height: 300px;
    margin: 20px 5%;
    padding: 50px 10% 390px 5%;
    background-color: #fff;
    box-shadow: 0px 3px 10px rgba(0,0,0,.8);
    border-radius: 10px;
    width: 25%;
}
@media screen and (max-width: 1600px) {
    .form{
        padding: 30px 10% 450px 5%;
        width:auto;
    }
}
.wrapper-img{
    margin: 0 50px;
}
.img{
    width: 300px;
}

.button {
    border:1px solid #1B73BA;
    background-color: #fff;
    color:  #1B73BA;;
    font-size: 14px;
    transition: .2s all;
    height: 40px;
    width: 150px;
}
.button:hover {
    border: 2px solid #1B73BA;
}

.button:active{
    background-color: #1B73BA;
    color: #fff;
}

.pulldown {
    /* display: flex; */
    padding-bottom: 20px;
    position: relative;
}
.pulldown select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(/images/btn.png) no-repeat right;
    border-top: 1px solid #1B73BA;
    border-bottom: 1px solid #1B73BA;
    border-left: 1px solid #1B73BA;
    border-right: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
    color: #333;
    text-indent: .01px;
    padding: 10px;
    height: 40px;
    width: 200px;
    }
